<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div>
        <input type="text" v-model="name">
        <span v-show="name"> name: {{name}}</span>
    </div>
    <div>
        <input type="text" v-model="age">
        <span v-show="age"> age: {{age}}</span>
    </div>


</div>


<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script>
    var app=new Vue({
        el:'#app',
        data:{
            name:"A",
            age:22
            // foodList:
        }
    })
</script>

</body>
</html>
